<section>

  <div class="text-center">
    <!-- {{'bookedData received ' +newBookedData | json}} -->
    <p class="alert alert-success">Your tickets are booked successfully!</p>
    <h3>Booked Tickets for <span class="text-capitalize">{{newBookedData.show}}</span></h3>
    <h5>{{newBookedData.seats}}</h5>

    <p class="text-center">
      <br />
      <br />
      Thank you see you again!

      <br/>
      <br/>
      <a routerLink="/shows" style="cursor: pointer;">back</a>
    </p>
  </div>
</section>