<!-- {{ticketTypeData | json}} -->

<div *ngIf="ticketTypes.length !== 0">
  <div class="seat-row {{ticket}}-row" *ngFor="let ticket of ticketTypes">
    <h5 class="text-capitalize">{{ticket}}</h5>
    <!-- {{ticketTypeData[ticket] | json}} -->

    <!-- {{defaultSeats | json }} -->

    <ul class="seats-list">
      <li *ngFor="let seat of defaultSeats[ticket]; let i = index;">

        <a style="cursor:pointer" class="seat" *ngIf="ticketTypeData[ticket].available_seats.includes(seat)"
          [ngClass]="{'active': selectedSeat.includes(seat)}"
          (click)="onSelectSeat(seat, ticketTypeData[ticket].rate)">{{seat}}</a>

        <a style="cursor: default;"
          [ngClass]="{'seat booked-seat': !ticketTypeData[ticket].available_seats.includes(seat)}"
          *ngIf="!ticketTypeData[ticket].available_seats.includes(seat)">{{defaultSeats[ticket][i]}}</a>

      </li>
    </ul>
  </div>
</div>