<section class="show-detail-section">
  <h3 class="text-capitalize">{{selectedShowName | hypenTransform:'remove' }}</h3>

  <div class="select-seat-panel">
    <p>Select Seats</p>
    <!-- {{selectedShow.gold | json}} -->
    <app-ticket-type [defaultSeats]="defaultSeats.platinum" [ticketTypeName]="'Platinum'"
      [ticketTypeData]="selectedShow.platinum"></app-ticket-type>
    <app-ticket-type [defaultSeats]="defaultSeats.gold" [ticketTypeName]="'Gold'" 
    [ticketTypeData]="selectedShow.gold">
    </app-ticket-type>
    <app-ticket-type [defaultSeats]="defaultSeats.silver" [ticketTypeName]="'Silver'"
      [ticketTypeData]="selectedShow.silver"></app-ticket-type>

  </div>

  <div class="legend-panel float-right text-right">
    <p><strong>Platinum:</strong> Rs {{selectedShow.platinum.rate}}/person</p>
    <p><strong>Gold:</strong> Rs {{selectedShow.gold.rate}}/person</p>
    <p><strong>Silver:</strong> Rs {{selectedShow.silver.rate}}/person</p>
  </div>

  <div class="legend-panel float-right text-right">
    <p><strong>Available:</strong> <span class="seat"></span></p>
    <p><strong>Booked:</strong> <span class="seat booked-seat"></span></p>
  </div>
  
  <div class="legend-panel action float-right text-right">
      <p><button class="btn btn-dark btn-block">Continue</button></p>
    </div>
    
</section>