<section class="show-detail-section">
  <h3 class="text-capitalize">{{selectedShowName | hypenTransform:'remove' }}</h3>

  <div class="select-seat-panel">
    <h5>Select Seats</h5>
    <app-ticket-type [ticketTypeData]="selectedShow"></app-ticket-type>
  </div>

  <!-- 
  <div *ngIf="!isContinueTicketReview">
    <div class="legend-panel float-right text-right">
      <h4>Price</h4>
      <p><strong>Platinum:</strong> Rs {{selectedShow.platinum.rate}}/person</p>
      <p><strong>Gold:</strong> Rs {{selectedShow.gold.rate}}/person</p>
      <p><strong>Silver:</strong> Rs {{selectedShow.silver.rate}}/person</p>
    </div>

    <div class="legend-panel float-right text-right">
      <h4>Info</h4>
      <p><strong>Available Seat:</strong> <span class="seat"></span></p>
      <p><strong>Selected Seat:</strong> <span class="seat booked-seat active"></span></p>
      <p><strong>Booked Seat:</strong> <span class="seat booked-seat"></span></p>
    </div>

    <div class="legend-panel action float-right text-right" *ngIf="isSeatSelected">
      <button class="btn btn-dark btn-block" (click)="onBookContinue()">Continue</button>
      <button class="btn btn-outline-info btn-block" (click)="onReset()">Reset</button>
    </div>
  </div>

  <div *ngIf="isContinueTicketReview">
    <div class="legend-panel float-right text-right">
      <p><strong>Book Seat{{selectedSeats.length > 2 ? 's' : ''}}:</strong> {{selectedSeats}}</p>
      <p><strong>Sub total:</strong> {{totalPayLoad.subtotal | currency:'INR'}}</p>
      <p><strong>Service Tax @14%:</strong> {{totalPayLoad.tax | currency:'INR'}}</p>
      <p><strong>Swach Bharat Cess @0.5%:</strong> {{totalPayLoad.sbc | currency:'INR'}}</p>
      <p><strong>Krishi Kalyan Cess @0.5%:</strong> {{totalPayLoad.kkc | currency:'INR'}}</p>
    </div>

    <div class="legend-panel float-right text-right">
      <h4>Total: {{totalPayLoad.total | currency:'INR'}}</h4>
    </div>

    <div class="legend-panel action float-right text-right" *ngIf="isSeatSelected">
      <p><button class="btn btn-primary btn-block" (click)="onBookNow()">Book Now</button></p>
    </div>
  </div> -->

</section>